html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap")
        link(rel="stylesheet" href="css/main.css")
    body
        .wrapper
            h1
                | Become a hero. Adopt a dog.
        p(id='paragraph')
            | If you want to go to our info page click the button 'Info page' below.
        //h2.lightbox__header
        //    |
        //a(href='./infopage' id='info-page')
        //    input(type='button' value='Info page')
        //brbrbrbrbrbrbr
        //form.lightbox__form(action="/applications" method="POST")
        //    .lightbox__form-control
        //        label.lightbox__label What's your name?
        //        input.lightbox__input(placeholder='John Doe' type='text' name='name')
        //    .lightbox__form-controll
        //        label.lightbox__label What's your phone number?
        //        input.lightbox__input(placeholder='+48 121 343 565' type='text' name='phone')
        //    .lightbox__form-controll
        //        label.lightbox__label Leave a message
        //        textarea.lightbox__input(placeholder='Please feel free to ask us anything' rows='3' name='message')
        //    .lightbox__actions
        //        button.btn.btn--primary Adopt a dog;


    //if (formMessage.length)
    //    .lightbox(v-show="showFeedback")
    //        .lightbox__content
    //            h2.lightbox__header #{ formMessage }
    //            .lightbox__actions.lightbox__actions--centered
    //                button.btn.btn--primary(@click="closeFeedbackLoghtbox") Close


        //style.
        //    body {
        //        margin: 0;
        //        background-color: #222;
        //        color: #fafafa;
        //    }
        //    .wrapper {
        //        display: flex;
        //        justify-content: center;
        //        align-items: center;
        //        height: 100vh;
        //        width: 100vw;
        //    }
        //    h1 {
        //        margin: 0;
        //        font-weight: normal;
        //        font-size: 70px;
        //    }
        //    #paragraph {
        //        position: absolute;
        //        top: -12px;
        //        left: 5px;
        //    }
        //    #info-page {
        //        position: absolute;
        //        top: 25px;
        //        left: 20px;
        //    }
