body {
    margin: 0;
    background-color: #222;
    color: #fafafa;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 70px;
}